<div>
    <mat-form-field>
        <mat-select [formControl]="dogCtrl" placeholder="Breed" #singleSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="dogFilterCtrl"
                placeholderLabel="Pick breed"
                noEntriesFoundLabel="'No matching breed found'">
            </ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let dog of filteredDogs | async " [value]="dog">
                {{dog.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card class="dog-info">
        <mat-card-header>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>{{dogCtrl.value?.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dogCtrl.value?.image}} alt="Photo of a {{dogCtrl.value?.name}}">
        <mat-card-content>
          <p>
            {{dogCtrl.value?.description}}
          </p>
        </mat-card-content>
    </mat-card>
</div>
